:root {
  //Primary
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);

  //Neutral
  --neutral-white: hsl(36, 100%, 99%);
  --neutral-grayblue: hsl(233, 8%, 79%);
  --neutral-darkgrayblue: hsl(236, 13%, 42%);
  --neutral-verydarkblue: hsl(240, 100%, 5%);
}

$transparent: rgba(black, 0.5);
