:root {
  //Primary
  --primary: hsl(193, 38%, 86%);

  //Secondary
  --secondary-lt: hsl(217, 19%, 38%);
  --secondary-md: hsl(217, 19%, 24%);
  --secondary-dk: hsl(218, 23%, 16%);

  //Accent
  --accent: hsl(150, 100%, 66%);
}
