:root {
  //Primary
  --p: hsl(10, 79%, 65%); //soft red - primary-color
  --p-accent: hsl(186, 34%, 60%); //cyan - primary-accent

  //Secondary
  --s-ltest: hsl(33, 100%, 98%); //cream - secondary-lightest
  --s-lt: hsl(27, 66%, 92%); //soft orange - secondary-light
  --s-md: hsl(28, 10%, 53%); //mid-brown - secondary-middle
  --s-dk: hsl(25, 47%, 15%); //dark-brown - secondary-dark
}
